header,footer{
    background-color: rgb(127, 133, 255);
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: 500px 1fr auto;
    margin: 0;
}

.boton-rojo{
    background-color: rgb(176, 34, 34);
}